<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>394873005537-00c1pdl3d9tr3aa14odnalk0gehbai4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394873005537-00c1pdl3d9tr3aa14odnalk0gehbai4d</string>
	<key>API_KEY</key>
	<string>AIzaSyCAwN4-0YTV08y7cjq7ri0DpDg1Upb4GN0</string>
	<key>GCM_SENDER_ID</key>
	<string>394873005537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.Checklist</string>
	<key>PROJECT_ID</key>
	<string>checklist-520b3</string>
	<key>STORAGE_BUCKET</key>
	<string>checklist-520b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394873005537:ios:5b936fd9e82149de</string>
	<key>DATABASE_URL</key>
	<string>https://checklist-520b3.firebaseio.com</string>
</dict>
</plist>